@media screen and (max-width: 800px) {
    .feature-light-row {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        grid-gap: 1.2rem;
    }
    
    li.cardBodyText{
        font-size: small;
    }

    .btn.btn-primary {
        width: max-content;
    }

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 767px) {
    ul.top-info {
        text-align: center;
    }

    .top-info .info-wrapper {
        padding-right: 0;
        margin-right: 20px;
    }

    ul.top-info {
        margin-top: 15px;
    }

    ul.top-info {
        float: none;
    }

    .top-info .info-wrapper:after {
        display: none;
    }

    ul.top-info.unstyled li {
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }

    ul.top-info.unstyled li:last-child {
        margin-bottom: 0;
    }

    ul.top-info.unstyled {
        padding-left: 20%;
    }

    .logo {
        text-align: left;
        padding: 1rem;
    }

    .header.nav-down .logo {
        height: 0;
    }

    .logo-area {
        height: auto;
    }

    .navbar-nav>li>.dropdown-menu a {
        color: #fff;
    }

    .navbar-nav>li>.dropdown-menu a:hover {
        color: var(--ubtGreenColorButtonHover);
    }

    .site-nav-inner {
        width: 100%;
        padding: 0 0;
    }

    ul.navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    ul.navbar-nav>li {
        float: none;
        display: block;
    }

    .navbar-collapse {
        background: #1c1e22;
        width: 100%;
        border-top: 0;
        box-shadow: none;
    }

    ul.navbar-nav>li:hover>a:after,
    ul.navbar-nav>li.active>a:after {
        content: '';
    }

    ul.navbar-nav>li>a:before {
        border-bottom: 0;
    }

    ul.navbar-nav>li {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    ul.navbar-nav {
        width: 100%;
        padding: 0 0 10px;
    }

    ul.navbar-nav li {
        float: none;
    }

    ul.navbar-nav li a {
        line-height: normal !important;
        border-bottom: 1px solid #38393d;
        padding: 15px 0;
        display: block;
    }

    ul.navbar-nav li:last-child a {
        border-bottom: 0;
    }

    ul.navbar-nav .dropdown-menu li a {
        padding-left: 20px !important;
    }

    ul.navbar-nav li a i {
        background: #000;
        float: right;
        width: 36px;
        height: 28px;
        line-height: 28px;
        margin-top: -5px;
        text-align: center;
    }

    section {
        padding: 2rem 0;
    }

    .top-info {
        margin: 35px 10px 0;
    }

    .top-info li .info-wrapper p {
        text-align: left;
    }

    .column-title {
        margin: 40px 0 40px;
    }

    .ts-facts-area-bg .column-left-title .column-title {
        text-align: center;
    }

    .quote_form {
        padding: 0px 0px 0px;
        display: grid;
    }

    .ts-facts-bg {
        margin-top: 15px;
    }

    .ts-facts-area-bg .column-title {
        margin-top: 0 !important;
    }

    .top-info li:last-child {
        margin-left: 0px;
    }

    ul.top-info.unstyled {
        padding-left: 0px;
    }

    ul.top-info {
        margin-top: 25px;
    }

    .column-title {
        margin: 60px 0 40px;
    }

    .footer-main {
        padding-top: 50px;
    }

    .top-info .info-wrapper {
        margin-right: 0;
    }

    .top-info li .info-wrapper p.info-subtitle {
        font-size: 15px;
    }
    .ts-feature-info{
        padding: .5rem;
    }

    .btn.btn-primary {
        font-size: var(--buttonTextCardFontSize);
        font-weight: 600;
        padding: .5rem;
        display: grid;
        align-items: center;
    }

    .call-to-action-bg .text-right {
        text-align: center !important;
        margin-top: 20px;
    }

    .quote-img {
        margin-bottom: 25px;
    }

    .align-self-center {
        text-align: center;
    }

    .top-info .info-wrapper {
        margin-right: 0px;
    }

    .footer-social ul {
        text-align: center;
        margin-top: 10px;
    }

    .footer-widget {
        padding-bottom: 0px;
    }

    .copyright-info {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    @media screen and (max-width: 767px) {
        body {
            font-size: var(--textCardFontSize);
        }
    }

    .dropdown-menu {
        background: #fff;
    }
}

@media screen and (min-width: 992px) {
    ul.navbar-nav>li>a i {
        padding-left: 5px;
    }

    ul.navbar-nav {
        padding-right: 40px;
    }

    .dropdown-menu {
        padding: 20px 25px;
    }
    .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        margin-top: 0px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .top-info .info-wrapper {
        padding-right: 0;
        margin-right: 25px;
    }

    .header.nav-down .logo {
        text-align: center;
    }

    .top-info {
        list-style: none;
        margin: 5px 71px 20px;
        padding: 0;
        float: right;
    }

    .site-nav-inner {
        width: 100%;
        padding: 0 0;
    }

    ul.navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    ul.navbar-nav>li {
        float: none;
        display: block;
    }

    .navbar-nav>li>.dropdown-menu a {
        color: #fff;
    }

    .navbar-nav>li>.dropdown-menu a:hover {
        color: var(--ubtGreenColorButtonHover);
    }

    .navbar-collapse {
        background: #1c1e22;
        width: 100%;
        border-top: 0;
        box-shadow: none;
    }

    ul.navbar-nav>li:hover>a:after,
    ul.navbar-nav>li.active>a:after {
        content: '';
    }

    ul.navbar-nav>li>a:before {
        border-bottom: 0;
    }

    ul.navbar-nav>li {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    ul.navbar-nav {
        width: 100%;
        padding: 0 0 10px;
    }

    ul.navbar-nav li {
        float: none;
    }

    ul.navbar-nav li a {
        line-height: normal !important;
        border-bottom: 1px solid #38393d;
        padding: 15px 0;
        display: block;
        min-width: 350px;
    }

    ul.navbar-nav li:last-child a {
        border-bottom: 0;
    }

    ul.navbar-nav .dropdown-menu li a {
        padding-left: 20px !important;
    }

    ul.navbar-nav li a i {
        background: #000;
        float: right;
        width: 36px;
        height: 28px;
        line-height: 28px;
        margin-top: -5px;
        text-align: center;
    }

    a.top-right-btn.btn.btn-primary {
        margin: 20px 0;
    }

    .testimonial-client {
        margin-top: 65px;
    }

    section#ts-facts-area h2 {
        text-align: center;
    }

    .align-self-center {
        text-align: center;
    }

    .call-to-action-bg .text-right {
        text-align: center !important;
        margin-top: 20px;
    }

    .footer-social {
        margin-top: 10px;
        text-align: center !important;
    }

    .copyright-info {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .video-background{
        background-image: url("https://media.istockphoto.com/id/1146472948/photo/millennial-black-businesswoman-addressing-colleagues-at-a-corporate-business-meeting-close-up.jpg?s=612x612&w=0&k=20&c=pRFt-m6Af60XAp2saRz4LtFjB6qBfRFki3Tf3c-4xtw=");
        min-height: 40vh;
    }
      .bisnessVideo{
        display: none; 
    }
    .box-content{
        display: grid;
    }
    .img-fluid {
        width: 5rem;
    }
}

@media screen and (max-width: 520px){
    li.cardBodyText{
        min-height: 1rem;
    }

    .ts-service-row-box {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 500px) {
    .call-to-action-row{
        display: flex;
    }
.quote-area-row{
    display: flex;
}
}
@media screen and (max-width: 380px){
    .ts-service-box, .ts-service-box-info{
        min-height: max-content;
    }
    .call-to-action-bg {
        padding:1rem 0;
    }
}
    
@media screen and (max-width: 900px) {
    .row-text-cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        font-size: small;
    }

}
@media screen and (min-width: 900px) and (max-width:1000px){
    .row-text-cols {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1000px){
    .footer-row {
        display: flex;
    }
}

@media screen and (max-width: 1000px){

.box-content {
    display: grid;
    word-wrap: break-word;
}
.footer-widget{
    display: contents;
}
}

@media  screen and (max-width: 400px) {
    .row-text-cols{
        grid-template-columns:  1fr;
    }
}

@media  screen and (min-width: 400px) and (max-width: 440px) {
.ts-service-box {
    height: 33rem;
    min-height: auto;
}
}

@media  screen and (min-width: 440px) and (max-width: 495px) {
    .ts-service-box {
        height: 29rem;
        min-height: auto;
    }
 }

 @media  screen and (min-width: 520px) and (max-width: 850px) {
    .ts-service-row-box {
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        }
    }

@media  screen and (min-width: 510px) and (max-width: 775px) {

}
