.tabs {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    padding-bottom: 80px;
    width: 70%;
    height: max-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
}

.tabs input[name="tab-control"] {
    display: none;
}

.tabs .content section h2,
.tabs ul li label {
    font-weight: bold;
    font-size: 18px;
    color: #428BFF;
}

.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tabs ul li {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

.tabs ul li label {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs ul li label br {
    display: none;
}

.tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}

.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
    fill: #bec5cf;
}

.tabs .slider {
    position: relative;
    width: 25%;
    -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #428BFF;
    border-radius: 1px;
}

.tabs .content {
    margin-top: 30px;
}

.tabs .content section {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs .content section h2 {
    color: #428BFF;
    display: none;
}

.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #428BFF;
    margin-top: 5px;
    left: 1px;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    cursor: default;
    color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label svg {
    fill: #428BFF;
}

@media (max-width: 600px) {

    .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.tabs section {
    background-color: #fff;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked~.content>section:nth-child(1) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    cursor: default;
    color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
    fill: #428BFF;
}

@media (max-width: 600px) {

    .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.slider {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    cursor: default;
    color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
    fill: #428BFF;
}

@media (max-width: 600px) {

    .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.slider {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.content>section:nth-child(3) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
    cursor: default;
    color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label svg {
    fill: #428BFF;
}

@media (max-width: 600px) {

    .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.slider {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.content>section:nth-child(4) {
    display: block;
}

@-webkit-keyframes content {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes content {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {

    .tabs ul li label {
        white-space: initial;
    }

    .tabs ul li label br {
        display: initial;
    }

    .tabs ul li label svg {
        height: 1.5em;
    }
}

@media (max-width: 600px) {

    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }

    .tabs ul li label span {
        display: none;
    }

    .tabs .slider {
        display: none;
    }

    .tabs .content {
        margin-top: 20px;
    }

    .tabs .content section h2 {
        display: block;
    }
}


section {
    padding: 5rem 0 !important;
}

.row-title-box p,
.row-title-box h2 {
    text-align: center;
}

.elementor-widget-container {
    width: 100%;
}

.video-background {
    min-height: 60vh !important;
}

#competitive-edge-strategies {
    padding-left: 1rem;
    padding-right: 1rem;
}

#competitive-edge-strategies .container,
.elementor-wifget-text .container,
.feature-service-box,
.elementor-icon-list-item,
.why-ubt-services .container,
.row-cols-box,
.service-area-bg .container {
    display: grid;
}

#competitive-edge-strategies .container {
    grid-template-rows: max-content minmax(max-content, 11rem);
    row-gap: 1rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    max-width: 40rem;
}


.black-btn {
    background-color: var(--blackBtnBackgroundColor);
    color: #fff;
    margin: 0 .4rem;
}


#competitive-edge-strategies .container,
.btn-go-to,
.elementor-wifget-text .container,
.ubt-service-quality .text-center,
.elementor-icon-list-icon {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ubtBackgroundColor {
    background-color: var(--ubtGreenColor);
}

.elementor-button-text {
    color: #fff;
}

/* INBOUND CSS*/
/*! CSS Used from: https://callnovo.wpenginepowered.com/wp-content/cache/min/1/wp-content/plugins/bdthemes-element-pack/assets/css/bdt-uikit.css?ver=1668110694 ; media=all */
.elementor-cta__bg-wrapper {
    max-height: 20rem;
}

@media all {
    @media print {

        *,
        *::before,
        *::after {
            background: transparent !important;
            color: black !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        h2 {
            orphans: 3;
            widows: 3;
        }

        h2 {
            page-break-after: avoid;
        }
    }
}

/*! CSS Used from: https://callnovo.wpenginepowered.com/wp-content/themes/hello-elementor/style.min.css?ver=2.6.1 ; media=all */
@media all {

    *,
    :after,
    :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    h2 {
        margin-top: .5rem;
        margin-bottom: 1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }

    h2 {
        font-size: 2rem;
    }

    @media print {

        *,
        :after,
        :before {
            background: transparent !important;
            color: #000 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        h2 {
            orphans: 3;
            widows: 3;
        }

        h2 {
            page-break-after: avoid;
        }
    }
}

/*! CSS Used from: https://callnovo.wpenginepowered.com/wp-content/uploads/elementor/css/custom-frontend.min.css?ver=1666619059 ; media=all */
@media all {

    .elementor *,
    .elementor :after,
    .elementor :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .elementor-element {
        --flex-direction: initial;
        --flex-wrap: initial;
        --justify-content: initial;
        --align-items: initial;
        --align-content: initial;
        --gap: initial;
        --flex-basis: initial;
        --flex-grow: initial;
        --flex-shrink: initial;
        --order: initial;
        --align-self: initial;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: var(--flex-direction);
        flex-direction: var(--flex-direction);
        -ms-flex-wrap: var(--flex-wrap);
        flex-wrap: var(--flex-wrap);
        -webkit-box-pack: var(--justify-content);
        -ms-flex-pack: var(--justify-content);
        justify-content: var(--justify-content);
        -webkit-box-align: var(--align-items);
        -ms-flex-align: var(--align-items);
        align-items: var(--align-items);
        -ms-flex-line-pack: var(--align-content);
        align-content: var(--align-content);
        gap: var(--gap);
        -ms-flex-preferred-size: var(--flex-basis);
        flex-basis: var(--flex-basis);
        -webkit-box-flex: var(--flex-grow);
        -ms-flex-positive: var(--flex-grow);
        flex-grow: var(--flex-grow);
        -ms-flex-negative: var(--flex-shrink);
        flex-shrink: var(--flex-shrink);
        -webkit-box-ordinal-group: var(--order);
        -ms-flex-order: var(--order);
        order: var(--order);
        -ms-flex-item-align: var(--align-self);
        align-self: var(--align-self);
    }

    .elementor-section {
        position: relative;
    }

    .elementor-section .elementor-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    @media (max-width:1024px) {
        .elementor-section .elementor-container {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    .elementor-widget-wrap {
        position: relative;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .elementor-widget-wrap>.elementor-element {
        width: 100%;
    }

    .elementor-widget {
        position: relative;
    }

    .elementor-widget:not(:last-child) {
        margin-bottom: 20px;
    }

    .elementor-column {
        min-height: 1px;
    }

    .elementor-column {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    @media (min-width:768px) {
        .elementor-column.elementor-col-100 {
            width: 100%;
        }
    }

    @media (max-width:767px) {
        .elementor-column {
            width: 100%;
        }
    }

    .elementor-element .elementor-widget-container {
        -webkit-transition: background .3s, border .3s, border-radius .3s, -webkit-box-shadow .3s;
        transition: background .3s, border .3s, border-radius .3s, -webkit-box-shadow .3s;
        -o-transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
        transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
        transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-box-shadow .3s;
    }
}


@media all {
    .elementor-kit-7 h2 {
        font-family: "Nunito", Sans-serif;
        font-size: 22px;
        font-weight: 700;
        font-style: normal;
    }

    .elementor-widget:not(:last-child) {
        margin-bottom: 20px;
    }

    .elementor-element {
        --widgets-spacing: 20px;
    }

    @media (max-width:1024px) {
        .elementor-kit-7 h2 {
            font-size: 18px;
        }
    }

    @media (max-width:767px) {
        .elementor-kit-7 h2 {
            font-size: 16px;
        }
    }
}

@media all {
    .elementor-bg-transform .elementor-bg {
        will-change: transform;
    }

    .elementor-bg-transform-zoom-in:hover .elementor-bg {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .elementor-animated-content {
        --translate: 0, 0;
    }

    .elementor-cta,
    .elementor-widget-call-to-action .elementor-widget-container {
        overflow: hidden;
    }

    .elementor-cta {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .elementor-cta--skin-classic .elementor-cta {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /*background-color: #f7f7f7;*/
    }

    .elementor-cta--skin-classic .elementor-cta__bg-wrapper {
        position: relative;
        min-height: 10rem;
        width: 100%;
        max-height: 25rem;
    }

    .elementor-cta--skin-classic .elementor-cta__content {
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        width: 100%;
    }

    .elementor-cta--skin-classic .elementor-cta__content-item {
        color: #55595c;
        border-color: #55595c;
        fill: #55595c;
    }

    .elementor-cta--layout-image-left .elementor-cta,
    .elementor-cta--layout-image-right .elementor-cta {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .elementor-cta--layout-image-left .elementor-cta__bg-wrapper,
    .elementor-cta--layout-image-right .elementor-cta__bg-wrapper {
        width: auto;
        min-width: 50%;
    }

    .elementor-cta--layout-image-left .elementor-cta__content,
    .elementor-cta--layout-image-right .elementor-cta__content {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .elementor-cta--layout-image-left .elementor-cta {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .elementor-cta--layout-image-right .elementor-cta {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-bottom: 8rem;
    }

    .elementor-cta__bg,
    .elementor-cta__bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }

    .elementor-cta__bg-wrapper {
        z-index: 1;
        overflow: hidden;
    }

    .elementor-cta__bg {
        background-size: cover;
        background-position: 50%;
        z-index: 1;
    }

    .elementor-cta__bg-overlay {
        z-index: 2;
    }

    .elementor-cta__content {
        z-index: 1;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        padding: 0 3rem;
        width: 100%;
    }

    .elementor-cta__content,
    .elementor-cta__content-item {
        position: relative;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .elementor-cta__content-item {
        width: 100%;
        margin: 0;
    }

    .elementor-cta__content-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .elementor-cta:hover .elementor-cta__bg-overlay {
        background-color: rgba(0, 0, 0, .3);
    }

    @media (max-device-width:1024px) {
        .elementor-cta {
            cursor: pointer;
        }
    }

    @media (max-width:880px) {
        .elementor-cta--mobile_extra-layout-image-above .elementor-cta {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .elementor-cta--mobile_extra-layout-image-above .elementor-cta__bg-wrapper {
            width: 100%;
        }
    }
}

@media all {
    .elementor-49 .elementor-element.elementor-element-e0414b0 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .elementor-49 .elementor-element.elementor-element-396cfff>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__content {
        text-align: left;
        padding: 20px 60px 20px 40px;
        background-color: #FFFFFF;
    }

    .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__title {
        font-family: "Nunito", Sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #000000;
    }

    .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__description {
        font-family: "Mitr", Sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #000000;
    }

    .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta .elementor-cta__bg,
    .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta .elementor-cta__bg-overlay {
        transition-duration: 1500ms;
    }

    .elementor-49 .elementor-element.elementor-element-570b6e3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__content {
        text-align: left;
        padding: 40px 40px 20px 60px;
        background-color: #FFFFFF;
    }

    .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__title {
        font-family: "Nunito", Sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #000000;
    }

    .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__description {
        font-family: "Mitr", Sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #000000;
    }

    .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta .elementor-cta__bg,
    .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta .elementor-cta__bg-overlay {
        transition-duration: 1500ms;
    }

    .elementor-49 .elementor-element.elementor-element-d45b8fb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    @media (max-width:1365px) {
        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__title {
            font-size: 22px;
        }

        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__description {
            font-size: 14px;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__title {
            font-size: 22px;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__description {
            font-size: 14px;
        }
    }

    @media (max-width:1200px) {
        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__title {
            font-size: 20px;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__title {
            font-size: 20px;
        }
    }

    @media (max-width:1024px) {
        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__content {
            padding: 20px 20px 20px 20px;
        }

        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__title {
            font-size: 17px;
        }

        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__description {
            font-size: 13px;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__content {
            padding: 20px 20px 20px 20px;
        }
    }

    @media (max-width:880px) {
        .elementor-49 .elementor-element.elementor-element-e0414b0 {
            padding: 0px 30px 0px 30px;
        }

        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__content {
            text-align: center;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__content {
            text-align: center;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb>.elementor-widget-container {
            margin: 30px 0px 0px 0px;
        }
    }

    @media (max-width:767px) {
        .elementor-49 .elementor-element.elementor-element-e0414b0 {
            padding: 0px 20px 0px 20px;
        }

        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__content {
            text-align: center;
        }

        .elementor-49 .elementor-element.elementor-element-570b6e3 .elementor-cta__title {
            font-size: 16px;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__content {
            text-align: center;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__title {
            font-size: 18px;
        }

        .elementor-49 .elementor-element.elementor-element-d45b8fb .elementor-cta__description {
            font-size: 13px;
        }
    }
}

.elementor-cta__content p,
.elementor-cta__content h2 {
    margin-bottom: 2rem;
}

.elementor-cta__content p {
    text-align: justify;
    margin-bottom: 2rem;
}

/*---contact center popluar sevices---*/
@media screen and (max-width: 670px) {
    .ubt-service-quality{
        max-height: max-content;
    }
    .ubt-service-quality-text h2{
        font-size: larger;
    }
}
@media screen and (min-width: 300px) {
    .row-text-cols {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: 50rem;
        height: 100%;
        justify-content: center;
        gap: 1rem;
    }
}

.service-area-bg .container {
    justify-content: center;
}

.feature-service-box {
    grid-template-columns: auto;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 23%);
    height: inherit;
    width: inherit;
    min-width: 9rem;

}

.elementor-icon-list-item {
    grid-template-columns: 1rem auto;
}

.elementor-icon-list-icon {
    display: flex;
}

.elementor-icon-list-text {
    border-bottom: .1rem solid rgba(137, 132, 132, 0.23);
    vertical-align: baseline;
    font-size: inherit;
    margin-left: .1rem;
    width: 100%;
    padding: .3rem;
}

.feature-service-box ul li:last-child span {
    border-bottom: none;
}

/*---why us---*/
.why-ubt-services .container {
    text-align: center;
    row-gap: 2rem;
    justify-items: center;
    max-width: 50rem;
}

.row-cols-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width:100%;
    justify-items: center;
    max-width: 42rem;
}

.ubt-service-quality {
    display: flex;
    gap: 1rem;
    border-radius: 65px 0px 65px 0px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    padding: 1.2rem 1rem;
    min-width: inherit;
    max-width: 20rem;
    min-height: inherit;
    /*max-height: 17rem;*/
    align-items: center;
}

.ubt-service-quality .fa {
    color: var(--ubtGreenColor);
    font-size: 2rem;
}

.ubt-service-quality-text {
    grid-template-rows: fit-content auto;
}

.elementor-image-box-img img {
    width: 3rem;
    height: 3rem;
}

@media (min-width: 992px) {
    .container {
        max-width: 63rem !important;
    }
}